<div class="ui info message">
  <i class="clipboard list icon"></i>
  <ul class="list">
    <li>Dimensão: {{this.detailedmedicalRecord.Dimension}}</li>
    <li>Tipo de lesão cutânea elementar primária: {{this.detailedmedicalRecord.InjuryType}}</li>
    <li>Lesão cutânea elementar secundária: {{this.detailedmedicalRecord.CutaneousLesion}}</li>
    <li>Arranjo: {{this.detailedmedicalRecord.Arrangement}}</li>
    <li>Consistência e superfície / Textura (Avaliada por palpação): {{this.detailedmedicalRecord.Texture}}</li>
    <li>Exame de linfonodos: {{this.detailedmedicalRecord.LymphNodes}}</li>
    <li>Tipo da lesão (morfologia primária): {{this.detailedmedicalRecord.PrimaryInjuryType}}</li>
    <li>Avaliação: {{this.detailedmedicalRecord.Evaluation}}</li>
    <li>Cadeias axilares: {{this.detailedmedicalRecord.AxillaryChains}}</li>
    <li>Cadeias inguinais: {{this.detailedmedicalRecord.InguinalChains}}</li>
    <li>Padrões clínicos dermatológicos: {{this.detailedmedicalRecord.InterimDiagnosis}}</li>
    <li>Exames Complementares: {{this.detailedmedicalRecord.ComplementaryExams}}</li>
    <li>Análise citopatológica: {{this.detailedmedicalRecord.CytopathologicalAnalysis}}</li>
    <li>Diagnóstico: {{this.detailedmedicalRecord.Diagnosis}}</li>
    <li>Data: {{this.detailedmedicalRecord.Date}}</li>
  </ul>         
</div>
