<div class="ui info message">
  <i class="clipboard list icon"></i>
  <h2 class="header">  {{this.medicalRecord.Date}} </h2>
  <ul class="list">
    <li>Tipo de pele: {{this.medicalRecord.SkinType}}</li>
    <li>Fototipo: {{this.medicalRecord.Phototype}}</li>
    <li>Fotoenvelhecimento da pele: {{this.medicalRecord.Photoaging}}</li>
    <li>Bronzeamento atual: {{this.medicalRecord.CurrentTanning}}</li>
    <li>Palidez: {{this.medicalRecord.Pallor}}</li>
    <li>Integridade: {{this.medicalRecord.Integrity}}</li>
    <li>Humidade: {{this.medicalRecord.Humidity}}</li>
    <li>Textura: {{this.medicalRecord.Texture}}</li>
    <li>Espessura: {{this.medicalRecord.Thickness}}</li>
    <li>Temperatura: {{this.medicalRecord.Temperature}}</li>
    <li>Elasticidade: {{this.medicalRecord.Elasticity}}</li>
    <li>Mobilidade: {{this.medicalRecord.Mobility}}</li>
    <li>Turgor: {{this.medicalRecord.Turgor}}</li>
    <li>Sensibilidade: {{this.medicalRecord.Sensitivity}}</li>
    <li>Queimadura solar: {{this.medicalRecord.SunBurn}}</li>
    <li>Área do corpo afetada relativa à radiação solar: {{this.medicalRecord.AffectedArea}}</li>
    <li>Quantidade: {{this.medicalRecord.Quantity}}</li>
    <li>Comparação das lesões: {{this.medicalRecord.Comparison}}</li>
    <li>Disposição: {{this.medicalRecord.Disposition}}</li>
    <li>Distribuição (incluindo couro cabeludo, mucosas, palmas e solas): {{this.medicalRecord.Distribution}}</li>
    <li>Padrão: {{this.medicalRecord.Pattern}}</li>
    <li>Alterações de cor: {{this.medicalRecord.ColorChange}}</li>
    <li>Camadas da pele envolvidas (se o processo afeta): {{this.medicalRecord.SkinLayers}}</li>
    <li>Coloração da pele: {{this.medicalRecord.SkinColor}}</li>
    <li>Outros sinais dermatológicos: {{this.medicalRecord.OtherSignals}}</li>
    <li>Pelos: {{this.medicalRecord.Hairs}}</li>
    <li>Localização:  {{this.medicalRecord.Location}}</li>
    <li>Adenomegalia: {{this.medicalRecord.Adenomegalia}}</li>
    <li>Linfedema: {{this.medicalRecord.Linfedema}}</li>
  </ul>         
</div>

                    