<div class="ui info message">
  <i class="clipboard list icon"></i>
  <ul class="list">
    <li> <strong>Nome</strong>- {{this.patient.Name}} {{this.patient.LastName}}</li>
    <li><strong>Tipo de documento</strong>- {{this.patient.IDType}}</li>
    <li><strong>Número do documento </strong>- {{this.patient.IDNumber}}</li>
    <li><strong>Género</strong>-{{this.patient.Gender}}</li>
    <li><strong>Nacionalidade</strong>- {{this.patient.Nationality}}</li>
    <li><strong>Endereço</strong>- {{this.patient.Address}}</li>
    <li><strong>Código Postal</strong>- {{this.patient.PostalCode}}</li>
    <li><strong>Estado Civil</strong>- {{this.patient.MaritalStatus}}</li>
    <li><strong>Data de Nascimento</strong>- {{this.patient.Birthdate}}</li>
    <li><strong>Cidade Natal</strong> - {{this.patient.CityofBirth}}</li>
    <li><strong>País </strong>- {{this.patient.CountryofBirth}}</li>
  </ul>         
</div>
