<div class="ui info message">
    <i class="lock icon"></i>
    <h2 class="header">
       {{this.Staff.Name}} {{this.Staff.LastName}}
    </h2>
    <ul class="list">
        <li>{{this.Staff.IDType}}</li>
        <li>{{this.Staff.IDNumber}}
        <li>{{this.Staff.Nationality}}</li>
        <li>{{this.Staff.Gender}} </li>
        <li>{{this.Staff.Address}}</li>
        <li>{{this.Staff.Birthdate}} </li>
        <li>{{this.Staff.MaritalStatus}}</li>
        <li>{{this.Staff.NIF}}</li>
        <li>{{this.Staff.CityofBirth}} </li>
        <li>{{this.Staff.CountryofBirth}}</li>
        <li>{{this.Staff.PhoneNumber}}</li>
        <li>{{this.Staff.PostalCode}}</li>
        
    </ul>
</div>

     
                       
    